---
export interface Props {
  title: string;
  imageSrc?: string;
  links: {
    name: string;
    href: string;
  }[];
}

const props = Astro.props;
---

<article
  class="border rounded-md bg-black bg-opacity-5 dark:hover:bg-white transition dark:hover:bg-opacity-5 shadow dark:shadow-[rgb(255,255,255,0.3)] overflow-hidden"
>
  {
    props.imageSrc !== undefined ? (
      <img
        src={props.imageSrc}
        alt={props.title}
        class="aspect-[16/9] w-full object-cover border-b bg-white"
      />
    ) : null
  }
  <div class="flex flex-col p-3 gap-1 text-sm">
    <h2 class="text-xl font-display">{props.title}</h2>
    <ul class="mt-2 mb-1 text-sm">
      {
        props.links.map((link) => (
          <li>
            <a
              href={link.href}
              class="text-primary hover:opacity-80 transition"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>

    <slot />
  </div>
</article>
