---
import "@fontsource/inter";
import "../styles/cmuserif_roman_macroman/stylesheet.css"
import BaseFooter from "../components/BaseFooter.astro";
import BaseNav from "../components/BaseNav.astro";

export interface Props {
  frontmatter: {
    title: string;
    excerpt: string;
    author: string;
    date: string;
    coverImageSrc: string;
  };
}

const {
  frontmatter: { title, excerpt, author, date, coverImageSrc },
} = Astro.props;
const formattedDate = new Date(date).toLocaleString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={excerpt} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://muhrizqiardi.vercel.app/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={excerpt} />
    <meta property="og:image" content="https://muhrizqiardi.vercel.app/og-image.png" />
    <!-- Twitter -->
    <meta property="twitter:card" content="card" />
    <meta property="twitter:url" content="https://muhrizqiardi.vercel.app/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={excerpt} />
    <meta property="twitter:image" content="https://muhrizqiardi.vercel.app/og-image.png" />
  </head>

  <body
    class="dark:bg-[#1a1a1a] selection:dark:bg-[#683600] selection:bg-[#ffc78c]"
  >
    <div
      class="max-w-3xl mx-auto prose dark:prose-invert prose-headings:font-display prose-headings:font-semibold prose-a:no-underline prose-a:text-primary hover:prose-a:opacity-60 hover:prose-a:transition hover:prose-a:duration-150 prose-figure:text-center prose-figcaption:text-center prose-img:text-center prose-img:mx-auto prose-lead:p-4 prose-lead:font-display prose-lead:text-white prose-lead:text-2xl prose-lead:leading-relaxed prose-lead:first-letter:float-left prose-lead:first-letter:pr-4 prose-lead:first-letter:pt-4 prose-lead:first-letter:font-bold prose-lead:first-letter:text-6xl prose-lead:first-letter:leading-none"
    >
      <BaseNav />

      <main class="p-6">
        <h1>{title}</h1>
        <dl class="flex flex-col gap-0.5 text-sm">
          <dt class="sr-only">By</dt>
          <dd>{author}</dd>
          <dt class="sr-only">at</dt>
          <dd><time>{formattedDate}</time></dd>
        </dl>
        <div class="lead">{excerpt}</div>
        {
          coverImageSrc ? (
            <img
              src={coverImageSrc}
              class="w-full aspect-[16/9] object-contain bg-black"
            />
          ) : null
        }

        <slot />
      </main>

      <BaseFooter />
    </div>
  </body>
</html>
